<div class="alert alert-danger" role="alert" *ngIf="errorMessage !== ''">
  {{ errorMessage }}
</div>

<div class="container">
  <!-- CONFIG FORM CONTAINER -->
  <div class="container border border-secondary rounded">
    <!-- Graph ROW -->
    <div class="row">
      <div
        class="container d-flex justify-content-center mt-4"
        *ngIf="!isLoadingRepositories"
      >
        <graph [repositories]="repositories"></graph>
      </div>
    </div>

    <!-- ENTER REPOSITORY NAME ROW -->
    <div class="row d-flex justify-content-center mt-4">
      <div class="form-group">
        <input
          type="text"
          (change)="onRepoNameChange($event)"
          class="form-control"
          id="repo-name"
          placeholder="Enter Repository Name ..."
        />
      </div>
    </div>
    <!-- CHECKBOX CONTENT/CONFIGURATION REPO ROW -->
    <div class="row d-flex justify-content-center m-2 p-2">
      <div>
        <input
          class="form-check-input"
          type="checkbox"
          [checked]="isContentRepository"
          (change)="isContentRepository = !isContentRepository"
        />
        <label class="form-check-label">Content Repository</label>
      </div>
    </div>

    <div *ngIf="!isContentRepository">
      <!--ADD/REMOVE BUTTONS ROW  -->
      <div class="row d-flex justify-content-center m-2 p-2">
        <button class="m-1 btn btn-outline-info" (click)="onAddRow($event)">
          Add+
        </button>
        <button
          class="m-1 btn btn-outline-danger"
          (click)="onRemoveRow($event)"
        >
          Remove-
        </button>
      </div>

      <!-- ADD SUBMODULES ROW -->
      <div
        class="row d-flex justify-content-center m-2"
        *ngFor="let row of rows"
      >
        <app-row
          [row]="row"
          [repositories]="repositories"
          (repoSelected)="onRepoSelected($event)"
          (branchSelected)="onBranchSelected($event)"
          (commitSelected)="onCommitSelected($event)"
        ></app-row>
      </div>
    </div>
    <!-- CREATE CONFIG REPO BUTTON ROW -->
    <div class="row d-flex justify-content-center m-2">
      <button class="btn btn-outline-warning" (click)="onCreateConfig($event)">
        {{ isLoadingCreateRepository ? "Loading..." : "Create Configuration" }}
      </button>
    </div>
  </div>
</div>
