<div class="alert alert-danger" role="alert" *ngIf="errorMessage !== ''">
  {{ errorMessage }}
</div>
<div class="container">
  <div class="row">
    <div class="col-10">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th class="d-none d-md-table-cell" scope="col">Owner</th>
            <th scope="col">Type</th>
            <th class="d-none d-lg-table-cell" scope="col">URL</th>
            <th class="d-none d-md-table-cell" scope="col">Edit</th>
            <th class="d-none d-md-table-cell" scope="col">Finalize</th>
            <th class="d-none d-md-table-cell" scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let repo of repositories; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ repo.repo }}</td>
            <td class="d-none d-md-table-cell">{{ repo.owner }}</td>
            <td>{{ repo.type }}</td>
            <td class="d-none d-lg-table-cell">{{ repo.url }}</td>
            <td class="d-none d-md-table-cell">
              <button class="btn btn-outline-warning m-1"
                      type="button"
                      data-toggle="modal"
                      data-target="#editModal"
                      [disabled]="repo.finalized"
                      (click)="onModalClick($event)"
                      value="{{i}}">
                Edit</button>
            </td>
            <td class="d-none d-md-table-cell" >
              <button
                class="btn btn-outline-info m-1"
                (click)="onFinalizeRepo($event)"
                [disabled]="repo.finalized"
                value="{{ repo.id }}"
              >
                {{ loadingFinalize ? "Loading..." : "Finalize" }}
              </button>
            </td>
            <td class="d-none d-md-table-cell" >
              <button
                class="btn btn-outline-danger m-1"
                (click)="onDeleteRepo($event)"
                [disabled]="repo.finalized"
                value="{{ repo.id }}"
              >
                {{ loadingDelete ? "Loading..." : "Delete" }}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <!-- Modal -->
  <div
    class="modal fade"
    id="editModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <input
            type="text"
            (change)="onEditRepoNameChange($event)"
            value="{{editedName}}"
            class="form-control"
            id="repo-name"
            placeholder="Enter Repository Name ..."
          />
          <div class="row d-flex justify-content-center m-2 p-2">
            <button class="m-1 btn btn-outline-info" (click)="onAddRow($event)">
              Add+
            </button>
            <button class="m-1 btn btn-outline-danger" (click)="onRemoveRow($event)">
              Remove-
            </button>
          </div>
          <div class="row d-flex justify-content-center m-2" *ngFor="let row of rows">
            <app-row
              [row]="row"
              [repositories]="repositories"
              (repoSelected)="onRepoSelected($event)"
              (branchSelected)="onBranchSelected($event)"
              (commitSelected)="onCommitSelected($event)"
            ></app-row>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="onModalClose()" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button (click)="onModalSaveChanges($event)" type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
