<div class="alert alert-danger" role="alert" *ngIf="errorMessage !== ''">
  {{ errorMessage }}
</div>
<div class="container">
  <div class="row">
    <div class="col-10">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th class="d-none d-md-table-cell" scope="col">Owner</th>
            <th scope="col">Type</th>
            <th class="d-none d-lg-table-cell" scope="col">URL</th>
            <th class="d-none d-md-table-cell" scope="col">Edit</th>
            <th class="d-none d-md-table-cell" scope="col">Finalize</th>
            <th class="d-none d-md-table-cell" scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let repo of repositories; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ repo.repo }}</td>
            <td class="d-none d-md-table-cell">{{ repo.owner }}</td>
            <td>{{ repo.type }}</td>
            <td class="d-none d-lg-table-cell">{{ repo.url }}</td>
            <td class="d-none d-md-table-cell">
              <button class="btn btn-outline-warning m-1">Edit</button>
            </td>
            <td class="d-none d-md-table-cell">
              <button
                class="btn btn-outline-info m-1"
                (click)="onFinalizeRepo($event)"
                value="{{ repo.id }}"
              >
                {{ loadingFinalize ? "Loading..." : "Finalize" }}
              </button>
            </td>
            <td class="d-none d-md-table-cell">
              <button
                class="btn btn-outline-danger m-1"
                (click)="onDeleteRepo($event)"
                value="{{ repo.id }}"
              >
                {{ loadingDelete ? "Loading..." : "Delete" }}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
