<h6 class="text-muted">Submodule: {{ row.rowIndex + 1 }}</h6>
<hr />
<select class="form-control" (change)="onSelectRepo($event)">
  <option value="">
    Select repository...
  </option>
  <option *ngFor="let repo of repositories" value="{{ repo.id }}">
    {{ repo.repo }}
  </option>
</select>

<select class="form-control" (change)="onSelectBranch($event)">
  <option value="">
    Select branch...
  </option>
  <option *ngFor="let branch of row.branches" value="{{ branch.name }}">
    {{ branch.name }}
  </option>
</select>

<select class="form-control" (change)="onSelectCommit($event)">
  <option value="">
    Select commit...
  </option>
  <option *ngFor="let commit of row.commits" value="{{ commit.sha }}">
    {{ commit.sha }}
  </option>
</select>
<div class="mb-4"></div>
