<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-sm-5" *ngFor="let repo of repositories">
      <div class="card m-4">
        <div class="card-body">
          <h5 class="card-title">{{ repo.repo }}</h5>
          <hr />
          <p class="card-text text-muted">
            <strong>Owner:</strong>
            {{ repo.owner }}
          </p>
          <p class="card-text text-muted">
            <strong>Type:</strong>
            {{ repo.type }}
          </p>
          <p class="card-text text-muted">
            <strong>URL:</strong> {{ repo.url }}
          </p>
          <div class="container d-flex justify-content-center">
            <button
              class="btn btn-outline-info m-1"
              (click)="onFinalizeRepo($event)"
              value="{{ repo.id }}"
            >
              {{ loadingFinalize ? "Loading..." : "Finalize" }}
            </button>
            <button class="btn btn-outline-warning m-1">Edit</button>
            <button
              class="btn btn-outline-danger m-1"
              (click)="onDeleteRepo($event)"
              value="{{ repo.id }}"
            >
              {{ loadingDelete ? "Loading..." : "Delete" }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
